/* resources/css/variables.css */

/* Brand colors */
:root {
    /* --- TEMA CLARO --- */
    --color-bg: #FDFCF9;
    --color-surface: #e5e7b5;
    --color-text-primary: #075B2A;
    --color-text-secondary: #07361B;
    --color-accent-gold: #c1c94d;
    --color-border-subtle: rgba(7, 91, 42, 0.08);
    
    --color-bg-obsidian: var(--color-bg);
    --color-bg-forest: #07361B;
    --color-bg-navy: #07361B;
    
    /* Lector */
    --color-lector-bg: var(--color-bg);
    --color-lector-surface: #d0d47e;
    --color-lector-text-primary: var(--color-text-primary);
    --color-lector-text-secondary: var(--color-text-secondary);
    --color-lector-accent: var(--color-bg-forest);
    --color-lector-accent-light: rgba(7, 91, 42, 0.08);
    --color-lector-accent-gold: var(--color-accent-gold);
    --color-lector-border: #d0d47e;

    /* Navbar */
    --color-navbar-bg: rgba(253, 252, 249, 0.85);
    --color-navbar-scrolled: rgba(253, 252, 249, 0.95);
    --color-navbar-border: rgba(7, 91, 42, 0.06);
    --color-navbar-border-scrolled: rgba(7, 91, 42, 0.1);
    --color-navbar-shadow-scrolled: rgba(7, 91, 42, 0.05);

    /* Bento */
    --color-bento-hover-bg: #e5e7b5;
    --color-bento-hover-shadow: rgba(7, 91, 42, 0.08);

    /* Tipografías */
    --font-editorial: 'Playfair Display', serif;
    --font-base: 'Lato', sans-serif;
    --font-alt: 'Montserrat', sans-serif;
    
    --font-serif: var(--font-editorial);
    --font-sans: var(--font-base);
}

[data-theme="dark"] {
    /* --- TEMA OSCURO --- */
    --color-bg: #000000;
    --color-surface: #075B2A;
    --color-text-primary: #e5e7b5;
    --color-text-secondary: #d0d47e;
    --color-border-subtle: rgba(229, 231, 181, 0.08);
    
    --color-bg-obsidian: var(--color-bg);
    --color-bg-forest: #000000;
    --color-bg-navy: #000000;
    
    /* Lector */
    --color-lector-bg: var(--color-bg);
    --color-lector-surface: #075B2A;
    --color-lector-text-primary: var(--color-text-primary);
    --color-lector-text-secondary: var(--color-text-secondary);
    --color-lector-accent: #c1c94d;
    --color-lector-accent-light: rgba(229, 231, 181, 0.1);
    --color-lector-accent-gold: #c1c94d;
    --color-lector-border: rgba(229, 231, 181, 0.12);

    /* Navbar */
    --color-navbar-bg: rgba(0, 0, 0, 0.75);
    --color-navbar-scrolled: rgba(0, 0, 0, 0.9);
    --color-navbar-border: rgba(229, 231, 181, 0.06);
    --color-navbar-border-scrolled: rgba(229, 231, 181, 0.1);
    --color-navbar-shadow-scrolled: rgba(0, 0, 0, 0.25);

    /* Bento */
    --color-bento-hover-bg: rgba(229, 231, 181, 0.06);
    --color-bento-hover-shadow: rgba(0, 0, 0, 0.25);
}